.banner-nosotros{
    background-image: url('img/Banner\ nosotros.png');
    width: 100vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 8px 5px #282825;
}

.inicio{
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    align-items: center;
    margin-bottom: 50px;
    height: 370px;
    justify-content: center;
}
.inicio div{
    width: 1200px;
    margin-top: 40px;
    
}
.inicio h4{
    text-align: center;
    font-family: roboto;
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 20px;
}
.inicio p{
    text-align: justify;
    font-family: inter;
    font-size: large;
}

.subtitulo{
    display: flex;
    text-align: center;
    background-color: #282825;
    color: white;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-family: roboto;
    font-size: xx-large;
}

.valores-grid{
    height: 250px;
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 100px);
    justify-content: center;
    align-items: center;
    font-family: roboto;
    font-size: larger;
    column-gap: 5px;
    text-align: center;
}
.item-valores{
    height: 180px;
    font-family: inter;
}
.item-valores1{
    grid-area: 1/2; 
}
.item-valores2{
    grid-area: 2 / 1;
}
.item-valores3{
    grid-area: 2/3;
}

.nosotros-content{
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    
}
.nosotros-content div{
    width: 1200px;
    margin-top: 50px;
}
.nosotros-content h5{
    font-family: roboto;
    font-size: x-large;
    font-weight: bold;
}

.nosotros-content p{
    font-family: inter;
    font-size: larger;
    
}
.tienda-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulos{
    width: 1200px;
}
.titulos h3{
    text-decoration: underline;
    font-family: Roboto;
    font-size: x-large;
    font-weight: bold;
}
.titulos h4{
    margin: 20px 0px 0px 40px;
    font-family: Roboto;
    font-size: large;
    font-weight: bold;
}
.tienda-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    margin: 40px;
}
.item-card{
    width: 500px;
    display: flex;
    padding: 50px;
    border: 1px solid #78786D;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: roboto;
}
.item-card h5{
    font-weight: bold;
    font-size: medium;
}
.item-card p{
    color: #78786D;
    font-weight: bold;
    font-size: small;
}
.tienda-imagen{
    box-shadow: 5px 5px 5px #282825;
}
.icon{
    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
 .icon:hover{
    background-color: #504e4e;
}

/* FORMATO PARA MOBILE */

@media (max-width: 768px){
    .banner-nosotros{
        display: none;
    }
    .inicio{
        height: auto;
    }
    .inicio div{
        width: 80vw;
        height: auto;
    }
    .inicio div p{
        font-size: 16px;
    }
    .inicio div h4{
        font-size: 20px;
    }
    .valores-grid{
        margin-top: 10px;
        height: auto;
        grid-template-columns: 50vw;
        grid-template-rows: auto;
        justify-items: center;
    }
    .item-valores{
        width: 80vw;
        height: auto;
        margin-top: 50px;
    }
    .item-valores p{
        margin-top: 20px;
        font-size: 16px;
        text-align: justify;
    }
    .item-valores img{
        width: 55px;
        height: auto;
    }
    .item-valores1{
        grid-area: 1/1; 
    }
    .item-valores2{
        grid-area: 2 / 1;
    }
    .item-valores3{
        grid-area: 3/1;
    }
    .subtitulo{
        margin-top: 20px;
    }
    .nosotros-content{
        width: 100vw;
        height: auto;
    }
    .nosotros-content div{
        width: 80vw;
        text-align: justify;
    }
    .nosotros-content div p{
        font-size: 16px;
    }
    .nosotros-content div h5{
        font-size: 20px;
    }
    .titulos{
        width: 80vw;
        height: auto;

    }
    .tienda-cards{
        flex-direction: column;
        gap: 50px;
    }
    .item-card{
        width: 70vw;
        height: auto;
    }
    .tienda-imagen{
        width: 30vw;
        height: auto;
    }
}
@media (max-width: 430px){
    .item-card{
        flex-direction: column;
    }
    .tienda-imagen{
        width: 60vw;
        height: auto;
    }
    .item-card h5 ,.item-card p ,.item-card .icon{
        width: 60vw;
    }
    .icon a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

/* FORMATO PARA TABLET */
@media (min-width: 769px ) and (max-width: 1024px){
    .banner-nosotros{
        width: 100vw;
        height: 50vw;
    }
    .inicio div{
        width: 80vw;
        height: auto;
    }
    .inicio div p{
        font-size: 16px;
    }
    .inicio div h4{
        font-size: 20px;
    }
    .valores-grid{
        grid-template-columns: repeat(3, 30vw);
        font-size: 16px;
    }
    .nosotros-content div{
        width: 80vw;
        height: auto;
    }
    .nosotros-content div p{
        font-size: 16px;
    }
    .nosotros-content div h5{
        font-size: 20px;
    }
    .titulos{
        width: 80vw;
        height: auto;
    }
    .tienda-cards{
        column-gap: 10px;
        row-gap: 50px;
        flex-direction: column;
    }
    .item-card{
        width: 60vw;
        height: auto;
    }
    .tienda-imagen{
        width: 30vw;
        height: auto;
    }
}
@media (min-width: 1025px) and (max-width: 1512px){
    banner-nosotros{
        width: 100vw;
        height: 50vw;
    }
    .inicio div{
        width: 80vw;
        height: auto;
    }
    .inicio div p{
        font-size: 16px;
    }
    .inicio div h4{
        font-size: 20px;
    }
    .valores-grid{
        grid-template-columns: repeat(3, 30vw);
        font-size: 16px;
    }
    .nosotros-content div{
        width: 80vw;
        height: auto;
    }
    .nosotros-content div p{
        font-size: 16px;
    }
    .nosotros-content div h5{
        font-size: 20px;
    }
    .titulos{
        width: 80vw;
        height: auto;
    }
    .tienda-cards{
        column-gap: 10px;
        row-gap: 50px;
        flex-direction: column;
    }
    .item-card{
        width: 60vw;
        height: auto;
    }
    .tienda-imagen{
        width: 30vw;
        height: auto;
    }
}
