.contenedor{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 150px;
}



.container{
    padding: 15%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    height: 90vh;
    flex-wrap: wrap;
    border: 1px solid black;
}
.btn{
    width: 120px;
    text-align: center;
   
}

.datos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    height: 400px;
}
.datos div{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;    
    border: 1px solid;
    height: 33.5%;
    text-align: justify;
}

.datos p{
    width: 200px;
    font-family: Roboto;
    font-size: 14px;
}

.llamada{
    background-color: #42423D;
    color: white;
    border: 1px solid black;
    height: 40%;
}
.llamada img{
    width: 69px;
    height: auto;
}

@media (max-width: 768px) {
    .contenedor{
        flex-direction: column;
        height: auto;
        gap: 50px;
        justify-content: space-evenly;
    }
    .container{
        width: 80vw;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .datos{
        width: 80vw;
        margin-top: 50px;
    }

}


/* TABLET */

@media (min-width: 769px) and (max-width: 1024px){
    .contenedor{
        gap: 40px;

    }
}