.contenedor{
    display: flex;
    width: 100vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.container{
    border: 1px solid black;
    padding: 15%;
    border-radius: 25px;
}